/*this here is the link pseudoclass. Link is a state of the button selector */
.btn:link, 
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black,.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($color-black,.2);
}

.btn-white {
    background-color: $color-white;
    color: $color-grey-dark; 
}

/*the after pseudo element is basically treated like a child of the btn */
.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0; 
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: $color-white;  
}

.btn:hover::after {
    /* transform scale(1.5) will make it appear 1.5x the size it was before */
    transform: scaleX(1.4) scaleY(1.4);
    opacity: 0;
} 

.btn-animated {
    animation: moveInBottom .5 ease-out .75s;
    animation-fill-mode: backwards;
}