*,
  *::after,
  *::before {
    margin: 0px;
    padding: 0px;
    /*inheriting box sizing from body selector */
    box-sizing: inherit; 
  }
  
  html {
    font-size: 62.5%; 
    /*We make our root font size an easily divisble number, i.e 10
    10px is exactly 1rem
    */

    @include respond(phone) {
      font-size: 50%;
    }
    @include respond(tab-port) {
      font-size: 50%;  //1rem = 8px, so 8/16=50%;
    }
    @include respond(tab-land) {
      font-size: 56.25%; //1rem = 9px, so 9/16=56.25
    }
    @include respond(big-desktop) {
      font-size: 75%;  //1rem = 12, so 12/16=75%
    }
  }
  
  body {
    box-sizing: border-box; 
  }