/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* the universal selector */
* {
    margin: 0px; 
    padding: 0px;  
    box-sizing: border-box;
} 

/*everything related to font, we specify here in the body */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #7777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(128, 214, 113, 0.801),
        rgba(40, 180, 133, 0.801)),
    url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    /* position relative makes this parent header element the origin. so the child element logo-box uses this element as reference */
    position: relative;
    
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;

}

.logo {
    height: 35px;
}

.text-box {
    /* Use absolute positioning to position the header box no matter what device the page is viewed on. */
    position: absolute;
    top: 50%;
    left: 50%; 
    /* translate means the element is now being moved relative to the box itself, putting it exactly in the middle */
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
}

.heading-primary-main {
    /* Use display block because my default it takes up the entire width available and creates a line break. */
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 40px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    /* animation-delay: 3s;
     animation-iteration-count: 3; */
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation: moveInRight 1s ease-out;
}

/* for animation use keyframes attribute */
@keyframes moveInLeft {
/* where the animation starts */
    0% { 
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }
/* where the animation end s */
    100% {
        opacity: 1;
        transform: translate(0);
    }
} 

@keyframes moveInRight {

        0% { 
            opacity: 0;
            transform: translateX(100px);
        }
    
        80% {
            transform: translateX(-10px);
        }

        100% {
            opacity: 1;
            transform: translate(0);
        }
    } 